{% extends 'base.html' %} {% block title %} About Us {% endblock %} {% block content %} {% load static %}

<div class="container">
<div class="about-section">
  <p class="text-center">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
  </p>
</div>

<h2 style="text-align:center">Our Team</h2>

<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <!-- <div class="card-body">
      <h5 class="card-title">Kavita Jadhav</h5>
      <p class="card-text">Designer & Founder</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div> -->
    <div class="container">
      <h2>Kavita Jadhav</h2>
      <p class="title">Designer & Founder</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>kmjadhav9970@gmail.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <!--<div class="card-body">
      <h5 class="card-title">Archana Mane</h5>
      <p class="card-text">Photographer & Founder</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>-->
    <div class="container">
      <h2>Archana Mane</h2>
      <p class="title">Photographer & Founder</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>abc@gmail.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
</div>

  {% endblock %}