{% extends 'base.html' %} {% block title %} Contact Us {% endblock %} {% block content %} {% load static %}

<div class="container">
    <div class="container">
        
        <div class="row">
          <div class="col">
            Our Location
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3814.249950988625!2d73.7958976653613!3d18.664893098467395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1628006279949!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          </div>
          <div class="col">
            Tell us what you want 
        <p>
        <form method="POST">
            {% csrf_token %}
            {%for field in form%}
            <div class="cust-form-row">
                {{field.errors}}
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}{% if field.field.required %}:{% endif %}
                </label><br> {{field}}
                <br>
            </div>
            {%endfor%}
            <div class="form-controls">
                <button type="submit" class="btn btn-success mt-1">Save</button>
            </div>
        </form>
        </p>
        </div>
        </div>
    </div>

</div>

{% endblock %}
